<div class="row">
  <div class="col-sm-6 sign-up col-centered">
      <%= form_tag('/users', remote: true) do |f| %>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-6 form-div">
            <%= text_field_tag :first_name, '', :name => "user[first_name]", :class => 'form-control', :placeholder => 'FIRST NAME' %>
          </div>
          <div class="col-sm-6 form-div">
            <%= text_field_tag :last_name, '', :name => "user[last_name]", :class => 'form-control', :placeholder => 'LAST NAME'  %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-12 form-div">
            <%= email_field_tag :email, '', :name => "user[email]", :class => 'form-control', :placeholder => 'EMAIL'  %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-12 form-div">
            <%= password_field_tag :password, '', :name => "user[password]", :class => 'form-control', :placeholder => 'PASSWORD'  %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-12 form-div">
          <%= password_field_tag :password_confirmation, '', :name => "user[password_confirmation]" , :class => 'form-control', :placeholder => 'PASSWORD CONFIRMATION' %>
          </div>
        </div>
      </div>

      <p class="terms">BY CLICKING SIGN UP, YOU AGREE TO OUR <a href="#">TERMS AND CONDITIONS</a></p>

      <button type="submit" class="btn btn-sm sign-up-btn">SIGN UP</button>
    <% end %>
  </div>
</div>