<div class="container-full">
  <div class="row logo-header">
    <div class="col-sm-3 col-sm-offset-1">
      <img src="assets/welcome-logo.png" class="img-responsive" alt="Welcome to Backbone PLM">
    </div>
  </div>

  <div class="row sign-up-bg">
    <div class="row">
      <div class="col-sm-6 col-centered register-form-signup">
        <h1>SIGN UP</h1>
        <h2>IT'S EASY. TRUST US. IT REALLY IS.</h2>
      </div>
    </div>

    <div class="row">
      <%= render "shared/errors", :object => @user %>
      <div class="col-sm-6 sign-up col-centered">
        <%= field_set_tag nil, class: 'new_user' do %>
          <%= form_tag('/users', remote: true) do |f| %>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-6 form-div">
                <%= text_field_tag :first_name, '', :name => "user[first_name]", :class => 'form-control', :placeholder => 'FIRST NAME' %>
              </div>
              <div class="col-sm-6 form-div">
                <%= text_field_tag :last_name, '', :name => "user[last_name]", :class => 'form-control', :placeholder => 'LAST NAME'  %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-12 form-div">
                <%= email_field_tag :email, '', :name => "user[email]", :class => 'form-control', :placeholder => 'EMAIL'  %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-12 form-div">
                <%= password_field_tag :password, '', :name => "user[password]", :class => 'form-control', :placeholder => 'PASSWORD'  %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-12 form-div">
              <%= password_field_tag :password_confirmation, '', :name => "user[password_confirmation]" , :class => 'form-control', :placeholder => 'PASSWORD CONFIRMATION' %>
              </div>
            </div>
          </div>

          <p class="terms">BY CLICKING SIGN UP, YOU AGREE TO OUR <a href="#">TERMS AND CONDITIONS</a></p>

          <!-- Button trigger modal and submit form -->
          <button type="submit" class="btn btn-sm sign-up-btn">SIGN UP</button>

          <% end %>
        <% end %>
      </div>
    </div>

  </div>

</div>

