<div class="row logo-header">
  <div class="col-sm-3 col-sm-offset-1">
    <%= image_tag("welcome-logo.png", class: "img-responsive", alt: "Welcome to Backbone PLM") %>
  </div>
</div>

<div class="row bg-pattern">
  <div class="col-sm-12 margin-responsive">
    <div class="row">
      <div class="col-sm-6 col-centered register-form-signup">
        <h1>SIGN UP</h1>
        <h2>IT'S EASY. TRUST US. IT REALLY IS.</h2>
      </div>
    </div> <!-- End of Header Row -->

    <div class="row">
      <div class="col-sm-6 bg-blue col-centered">
        <%= render "shared/errors", :object => @user %>
        <%= field_set_tag nil do %>
          <%= form_for(@user, remote: true) do |f| %>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-6 form-div">
                <%= f.text_field :first_name, :class => 'form-control', :placeholder => 'FIRST NAME' %>
              </div>
              <div class="col-sm-6 form-div">
                <%= f.text_field :last_name, :class => 'form-control', :placeholder => 'LAST NAME'  %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-12 form-div">
                <%= f.email_field :email, :class => 'form-control', :placeholder => 'EMAIL'  %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-12 form-div">
                <input class="email-validation form-control" type="text" placeholder="CONFIRM EMAIL"/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-12 form-div">
                <%= f.password_field :password, :class => 'form-control', :placeholder => 'PASSWORD'  %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-12 form-div">
              <%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => 'PASSWORD CONFIRMATION' %>
              </div>
            </div>
          </div>

          <p class="terms">BY CLICKING SIGN UP, YOU AGREE TO OUR <a href="#">TERMS AND CONDITIONS</a></p>

          <!-- Button trigger modal and submit form -->
          <button type="submit" class="btn btn-sm sign-up-btn">SIGN UP</button>

          <% end %>
        <% end %>
      </div> <!-- End of Form Column -->
    </div>  <!-- End of Form Row -->
  </div> <!-- End of Sign Up Col-12 container -->

</div> <!-- End of Row containing "Sign Up!" and Form -->
