<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "BackbonePLM" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "BackbonePLM: Your fashion PLM solution" %>">
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>

  </head>

  <body>
    <header>
      <!-- Navbar logic will eventually go here -->
    </header>

    <main role="main">
      <div class="container-full">
        <%= yield %>
        <%= render "layouts/footer" %>
      </div>
    </main>
    <%= javascript_include_tag "application" %>
  </body>
</html>
